*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-of-tasks {
  margin: 50px;
}

.logo-text {
  color: #64dd17
}

.text-column {
  background-color: #eeeeee; /*grey[200]*/ 
}